:root {
	--main-color: #19c8fa;
	--transparent-color: rgb( 15 116 143 / 70%);
	--para-color: #777;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {

	font-family: "open sans" , sans-serif;
}
ul {
	list-style: none;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;	
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;	
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;	
	}
}
header { 
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 2;
}
header .container {
	display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
	min-height: 97px;
	}
header .container::after {
	content: "";
    height: 0.5px;
    background-color: #726f71;
    position: absolute;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
}
header .logo img {
	height: 40px;
}
.toggle {
	color: white;
	font-size: 22px;
	}
@media (min-width: 768px) {
	header nav .toggle {
		display: none;
	}
}
header nav {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
@media (max-width: 767px) {
header nav ul {
	display: none;
	}
	header nav .toggle:hover + ul {
	position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: 100%;
	background-color: rgb(0 0 0 / 0.5);
	}
	header nav .toggle:hover + ul li a {
	padding: 15px;
	}
}
header nav ul li a {
	padding: 40px 10px;
	display: block;
	color:white;
	text-decoration: none;
	font-size: 14px;
	transition: 0.3s;
	position: relative;
	z-index: 1;
}
nav ul {
	display: flex;
}
header nav ul li a.active,
header nav ul li a:hover {
	color: var(--main-color);
	border-bottom: 0.5px solid;	
}
header nav form {
	color: dad6d7;
	margin-left: 30px;
    width: 40px;
    height: 30px;
    position: relative;
    border-left: white solid 1px;
}
header nav form i {
    margin-left: 15px;
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.landing {
	min-height: 100vh;
	background-color: #1f2021;
	background-image: url(../images/landing.jpg);
	background-size: cover;
	position: relative;
}
.landing .overlay {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: #0000004a;
}
.landing .text {
	background-color: var(--transparent-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 13px;
    color: white;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767px) {
	.landing .text {
		width: 100%;
	}
	.landing .text .content {
		max-width: 100%;
	}
}
.landing .text .content {
	max-width: 500px;
}
.landing .text .content h2{
	font-size: 32px;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 30px;
}
.landing .text .content p {
	font-size: 14px;
	line-height: 2;
}
.landing .cbg {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #ddd;
}
@media (max-width: 767px) {
	.landing .cbg {
		display: none;
	}
}
.landing .fa-angle-right {
    right: 30px;
}
.landing .fa-angle-left {
    left: 30px;
}
.landing ul {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
	display: flex;
}
.landing ul li {
    width: 10px;
    height: 10px;
    border: white solid 1px;
    border-radius: 50%;
    margin: 1px;
}
.landing ul li.active {
	background-color: var(--main-color);
}
.special-heading {
    padding: 100px;
    text-align: center;
}
.special-heading h2 {
	font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.special-heading h2::before {
	content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    height: 2px;
    width: 120px;
    background-color: #333;
}
.special-heading h2::after {
	content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: #333 solid 2px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -36px;
    background-color: white;
}
.special-heading p {
	width: 550px;
    margin: 0px auto 100px;
    max-width: 100%;
    line-height: 2;
    color: var(--para-color);
}
.services .srv-content {
	padding-top: 100px;
	padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}
.services .srv-content .item {
	display: flex;
}
@media (max-width: 767px) {
.services .srv-content .item {
    flex-direction: column;
    text-align: center;
	margin-bottom: 40px;
	}
	.services .srv-content .item i {
		margin: 0 0 30px;
	}
}
.services .srv-content i {
margin-right: 50px;
}
.services .srv-content h3 {
	margin-bottom: 30px;
	color: var(--main-color);
}
.services .srv-content p {
	color: var(--para-color);
	line-height: 2;
}
.design {
	padding-top: 100px;
	padding-bottom:	100px;
	height: 600px;
	background-image: url(../images/design.jpg);
	background-size: cover;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.design .image {
	position:relative;
	bottom: -150px;
	text-align: center;
	flex: 1;
}
.design .text {
	color: white;
    background-color: var(--transparent-color);
    position: relative;
	flex: 1;
	padding: 50px;
}
@media (max-width: 768px) {
	.design .image {
		display: none;
	}
	.design .text {
		width: 100%;
	}
}
.design .text h2 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.design .text li {
	padding: 15px 
}
.design .text li::before {
	content:"\e163";
	font-family: "font Awesome 5 free";
	font-weight: 900;
	padding: 20px;
	position: relative;
	bottom: -1px;
}
.portfolio {
	padding-top: 100px;
	padding-bottom: 100px;
}
.portfolio ul {
	display: flex;
	justify-content: center;
}
.portfolio ul li {
	padding: 10px;
}
.portfolio ul .active {
	background-color: var(--main-color);
	color: white;
}
.portfolio .img-cont {
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px; 
}
.portfolio .img-cont .p-item {
	position: relative;
	overflow: hidden;
}
@media (min-width: 768px) {
	.portfolio .img-cont .p-item {
		max-width: 50%;
	}
}
@media (min-width: 1199px) {
	.portfolio .img-cont .p-item {
		max-width: 25%;
	}
}
.portfolio .img-cont .p-item img {
	max-width: 100%;
	transition: 0.3s;
}
.portfolio .img-cont .p-item .caption {
	position: absolute;
	left:0;
	width: 100%;
	padding: 20px;
	bottom: -100%;
	background-color: white;
	transition: 0.3s;
}
.portfolio .p-item:hover .caption {
	bottom: 0;
}
.portfolio .p-item:hover img {
	transform: scale(1.1) rotate(3deg);
}
.portfolio .img-cont .p-item .caption h4 {
	font-weight: bold;
	margin-bottom: 10px;
}
.portfolio .p-item .caption p {
	color: var(--main-color);
}
.portfolio a{
	background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 15px auto;
    text-decoration: none;
    text-transform: uppercase;
}
.video {
	position: relative;
}
.video::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #0000007a;
}
.video video {
	    width: 100%;
}

.video .text {
	position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}
.text h2 {
	margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}
.text p {
	margin-bottom: 30px;
}
.text button {
	background-color: black;
    color: white;
    padding: 10px;
    width: 160px;
    border: none;
    text-transform: uppercase;
}
.about {
	padding-top: 100px;
	text-align: center;
	overflow: hidden;
}
.about img {
	bottom: -120px;
    position: relative;
	margin-top: -120px;
	max-width: 100%;
}
@media (max-width:768px) {
	.about img {
	bottom: -60px;
	margin-top: -60px;
	}
}
.stats {
	background-image: url(../images/stats.png);
    padding-top: 100px;
    padding-bottom: 100px;
	position: relative;
	text-align: center;
	background-size: cover;
}
.stats::before {
	content:"";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #0000009a;	
}
.stats .container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	color: white;
}
.stats .s-item {
	padding: 50px;
	background-color: var(--transparent-color);
}
@media (max-width: 768px){
.stats .container .s-item {
	flex-basis: 100%; 
	}
}
@media (min-width: 768px){
.stats .container .s-item {
	flex-basis: 50%; 
	}
}
@media (min-width: 992px){
.stats .container .s-item {
	flex-basis: 25%; 
	}
}
.stats .s-item i {
	width: 50px;
    height: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
	margin: auto;
}
.stats .s-item .number {
	font-size: 50px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}
.stats .s-item p {
	font-size: 14px;
    color:  #ffffff91;
}
.skills {
	padding-top: 100px;
	padding-bottom: 100px;
}
.skills .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media (min-width: 992px) {
	.skills .container > div {
	max-width: 45%; 
	}
}
.skills .container h3 {
		margin: 0 0 40px;
		font-weight: normal;
		text-align: center;
}
.skills .container p {
	color: #777;
	line-height: 2;
	text-align: center;
	margin-bottom: 60px; 
}
.testimonials .sk-item {
	display: flex;
	align-items: center;
    margin-bottom: 30px;
}

.testimonials .sk-item img{
	width: 100px;
	border-radius: 50%;
	margin-right: 50px;
}
@media (max-width: 767px) {
	.testimonials .sk-item {
	flex-direction: column;
	text-align:center;
	}
	.testimonials .sk-item img{
		margin: 0 auto 30px;

	}
}
.testimonials .sk-item .text {
	border-bottom: 1px solid #ccc;
	line-height: 1.8;
}
.testimonials .sk-item .text p {
	color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}
.skills ul {
	display: flex;
	justify-content: center;
    bottom: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.skills ul li {
    width: 10px;
    height: 10px;
    border: black solid 1px;
    border-radius: 50%;
    margin-right: 2px;
}
.skills ul li.active {
	background-color: var(--main-color);
	border-color: var(--main-color);
}
.skills-cont .prog-holder {
	margin-bottom: 40px;
}
.skills-cont .prog-holder h4 {
	margin-bottom: 15px;
    font-weight: normal;
}
.skills-cont .prog-holder .prog {
	background-color: #dedadc;
    height: 30px;
}
.skills-cont .prog-holder .a {
	height: 100%;
	width: 93%;
    display: block;
    background-color: var(--main-color);
	position: relative;
}
.skills-cont .prog-holder .a::before {
	content: "93%";
    position: absolute;
    color: white;
    background-color: black;
    padding: 4px 0;
    width: 40px;
    left: Calc(93% + 10px);
    font-size: 14px;
    top: calc(-100% - 10px);
    text-align: center;
    border-radius: 13%;
}
.skills-cont .prog-holder .b {
	height: 100%;
	width: 95%;
    display: block;
    background-color: var(--main-color);
	position: relative;
}
.skills-cont .prog-holder .b::before {
	content: "95%";
    position: absolute;
    color: white;
    background-color: black;
    padding: 4px 0;
    width: 40px;
    left: Calc(93% + 10px);
    font-size: 14px;
    top: calc(-100% - 10px);
    text-align: center;
    border-radius: 13%;
}
.skills-cont .prog-holder .c {
	height: 100%;
	width: 85%;
    display: block;
    background-color: var(--main-color);
	position: relative;
}
.skills-cont .prog-holder .c::before {
	content: "85%";
    position: absolute;
    color: white;
    background-color: black;
    padding: 4px 0;
    width: 40px;
    left: Calc(93% + 10px);
    font-size: 14px;
    top: calc(-100% - 10px);
    text-align: center;
    border-radius: 13%;
}
.skills-cont .prog-holder .d {
	height: 100%;
	width: 87%;
    display: block;
    background-color: var(--main-color);
	position: relative;
}
.skills-cont .prog-holder .d::before {
	content: "87%";
    position: absolute;
    color: white;
    background-color: black;
    padding: 4px 0;
    width: 40px;
    left: Calc(93% + 10px);
    font-size: 14px;
    top: calc(-100% - 10px);
    text-align: center;
    border-radius: 13%;
}
.skills-cont .prog-holder span::after {
	content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    left: 100%;
    transform: translateX(-50%);
    top: -16px;
}
.quote {
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url(../images/quote.jpg);
	background-size: cover;
	position: relative;
	text-align: center;
	color: white;
}
.quote::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #0000019a;
}
.quote .container {
	position: relative;
}
.quote q {
	font-size: 30px;
	margin-bottom: 20px;
	display: block;
}
.pricing {
	padding-top: 100px;
	padding-bottom: 100px;
}
.pricing .plans {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 30px;
}
.pricing .plans .plan {
	background-color: #fcfcfc;
	text-align: center;
}
.pricing .plans .plan .head {
    padding: 40px 20px;
	border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
}
.pricing .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
}
.pricing .plan span{
	font-size: 60px;
    font-weight: bold;
    position: relative;
}
.pricing .plan span::before {
	content:"$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
}
.pricing .plan span::after {
	content:"/Mo";
	font-size: 20px;
    position: relative;
    right: -15px;
}
.pricing .plans .plan ul {
	list-style: none;
    border-bottom: 1px solid var(--main-color);	
}
.pricing .plans .plan li {
	position: relative;
	padding: 20px;
}
.pricing .plans .plan li:not(:last-child)::after {
	content:"";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
}
.pricing .plans .plan .foot a {
	display: block;
    padding: 20px 30px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
}
.pricing .contact-text {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}
.pricing .contact-link {
    display: block;
    color: white;
    background-color: var(--main-color);
    text-decoration: none;
    width: fit-content;
    margin: 20px auto;
    padding: 15px 30px;
	font-size: 20px;
}
.subscribe {
	padding-top: 100px;
	padding-bottom: 100px; 
	background-image: url(../images/subscribe.jpg);
	background-size: cover;
	position: relative;
	color: white;
}
.subscribe::before {
	content:"";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #00000070;
}
.subscribe .container {
	display: flex;
	align-items: center; 	
	position: relative;
}
@media (max-width: 992px) {
	.subscribe .container {
	flex-direction: column;
	}
}
.subscribe form {
	display: flex;
	position: relative;
    width: 500px;
    max-width: 100%;
}
.subscribe form i {
	position: absolute;
    left: 20px;
    top: 56%;
    transform: translateY(-50%);
}
.subscribe form ::placeholder {
	color: white;
}
.subscribe form input[type="email"] {
	caret-color: var(--main-color);
    border: 1px solid white;
	border-right: none;
    background-color: transparent;
    padding: 20px 20px 20px 60px;
	width: calc(100% - 130px);
	color: white;
}

.subscribe form input[type="submit"] {	
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
	border-left: none;
	text-transform: uppercase;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
	outline: transparent;
}
.subscribe p {
	line-height: 2;
	margin-left: 50px;
}
@media (max-width: 992px) {
.subscribe p {
	margin: 30px 0 0;
	}
}
.contact-us {
	padding-top: 100px;
	padding-bottom: 100px;
}
.contact-us .contact-cont {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 992px){
	.contact-us .contact-cont {
	flex-direction: column;
	}
	.contact-us .contact-text {
	margin-top: 70px;
	}
}
.contact-us .contact-cont form {
	position: relative;
	flex-basis: 70%; 
}
.contact-us .contact-cont form .main-input {
display: block;
    padding: 20px;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}
.contact-us .contact-cont form .main-input:focus {
	outline: none;
}
.contact-us .contact-cont form textarea.main-input {
	height: 200px;
}
.contact-us form [type="submit"] {
	color: white;
    border: none;
    padding: 20px 20px;
    background-color: var(--main-color);
    position: absolute;
    right: 0;
	display: block;
	cursor: pointer;
}
.contact-us .contact-text {
 flex-basis: 25%;
}
.contact-us .contact-text h4 {
	font-weight: bold;
    margin-bottom: 30px;
    font-size: 18px;
}
.contact-us .contact-text p {
    line-height: 2;
    font-size: 13px;
    color: #777;
}
.contact-us .contact-text .c-item .sec {
	margin-top: 80px;
}
footer {
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
	text-align: center;
	background-color: black;
}
footer img {
	margin: 0 0 20px 0;
}
footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
	margin: 20px auto;
}
footer .social-icons i {
	padding: 10px 15px;
}
footer .copyright {
	margin-top: 60px;
}
footer .copyright span {
	color: var(--main-color);
	font-weight: bold
}
